O objetivo é tentar prever o quanto um usuário  pode gastar ao acessar uma determinada página.

# 1.0 Carregando os dados.

 Carregando dados referentes a Google Merchandising Store.

In [1]:
import pandas as pd
import numpy as np
import json
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
url ='https://raw.githubusercontent.com/alura-cursos/digital-marketing-ml/master/train.csv'

In [3]:
df = pd.read_csv(url)

In [4]:
df.head()

  channelGrouping      date  ... visitNumber  visitStartTime
0  Organic Search  20160902  ...           1      1472804607
1  Organic Search  20160902  ...           1      1472835928
2      Affiliates  20160902  ...           1      1472856802
3  Organic Search  20160902  ...           2      1472879649
4  Organic Search  20160902  ...           1      1472829671

[5 rows x 12 columns]

In [5]:
df.shape

(12283, 12)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12283 entries, 0 to 12282
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   channelGrouping       12283 non-null  object
 1   date                  12283 non-null  int64
 2   device                12283 non-null  object
 3   fullVisitorId         12283 non-null  uint64
 4   geoNetwork            12283 non-null  object
 5   sessionId             12283 non-null  object
 6   socialEngagementType  12283 non-null  object
 7   totals                12283 non-null  object
 8   trafficSource         12283 non-null  object
 9   visitId               12283 non-null  int64
 10  visitNumber           12283 non-null  int64
 11  visitStartTime        12283 non-null  int64
dtypes: int64(4), object(7), uint64(1)
memory usage: 1.1+ MB

# 2.0 Tratamento dos dados.

- Como pode ser visto, algumas colunas terão que sofrer uma alteração no seu tipo, para que possam ser manipuladas.

In [7]:
df = pd.read_csv(url, dtype={'date':object,'fullVisitorId':object,'visitId':object})

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12283 entries, 0 to 12282
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   channelGrouping       12283 non-null  object
 1   date                  12283 non-null  object
 2   device                12283 non-null  object
 3   fullVisitorId         12283 non-null  object
 4   geoNetwork            12283 non-null  object
 5   sessionId             12283 non-null  object
 6   socialEngagementType  12283 non-null  object
 7   totals                12283 non-null  object
 8   trafficSource         12283 non-null  object
 9   visitId               12283 non-null  object
 10  visitNumber           12283 non-null  int64
 11  visitStartTime        12283 non-null  int64
dtypes: int64(2), object(10)
memory usage: 1.1+ MB

- Criando novas colunas com as informações presentes nas colunas do dataset em questão.

In [9]:
json.loads(df.device.iloc[0])

{'browser': 'Chrome',
 'browserSize': 'not available in demo dataset',
 'browserVersion': 'not available in demo dataset',
 'deviceCategory': 'desktop',
 'flashVersion': 'not available in demo dataset',
 'isMobile': False,
 'language': 'not available in demo dataset',
 'mobileDeviceBranding': 'not available in demo dataset',
 'mobileDeviceInfo': 'not available in demo dataset',
 'mobileDeviceMarketingName': 'not available in demo dataset',
 'mobileDeviceModel': 'not available in demo dataset',
 'mobileInputSelector': 'not available in demo dataset',
 'operatingSystem': 'Windows',
 'operatingSystemVersion': 'not available in demo dataset',
 'screenColors': 'not available in demo dataset',
 'screenResolution': 'not available in demo dataset'}

In [10]:
dicionarios = ['device','geoNetwork','trafficSource','totals']

In [11]:
for coluna in dicionarios:
    df = df.join(pd.DataFrame([json.loads(linha) for linha in df[coluna]]))

In [12]:
 df.head()

  channelGrouping      date  ... newVisits transactionRevenue
0  Organic Search  20160902  ...         1                NaN
1  Organic Search  20160902  ...         1                NaN
2      Affiliates  20160902  ...         1                NaN
3  Organic Search  20160902  ...       NaN                NaN
4  Organic Search  20160902  ...         1                NaN

[5 rows x 54 columns]

In [13]:
df.shape

(12283, 54)

- Excluindo as colunas que são dicionários.

In [14]:
df.drop(dicionarios, axis=1, inplace=True)

In [15]:
df.shape

(12283, 50)

In [16]:
df.head()

  channelGrouping      date  ... newVisits transactionRevenue
0  Organic Search  20160902  ...         1                NaN
1  Organic Search  20160902  ...         1                NaN
2      Affiliates  20160902  ...         1                NaN
3  Organic Search  20160902  ...       NaN                NaN
4  Organic Search  20160902  ...         1                NaN

[5 rows x 50 columns]

Excluindo a coluna 'adwordsClickInfo', pois ela é um dicionário e tem apenas um único valor.

In [17]:
df.drop('adwordsClickInfo',axis=1,inplace=True)

In [18]:
df.columns

Index(['channelGrouping', 'date', 'fullVisitorId', 'sessionId',
       'socialEngagementType', 'visitId', 'visitNumber', 'visitStartTime',
       'browser', 'browserVersion', 'browserSize', 'operatingSystem',
       'operatingSystemVersion', 'isMobile', 'mobileDeviceBranding',
       'mobileDeviceModel', 'mobileInputSelector', 'mobileDeviceInfo',
       'mobileDeviceMarketingName', 'flashVersion', 'language', 'screenColors',
       'screenResolution', 'deviceCategory', 'continent', 'subContinent',
       'country', 'region', 'metro', 'city', 'cityId', 'networkDomain',
       'latitude', 'longitude', 'networkLocation', 'campaign', 'source',
       'medium', 'keyword', 'isTrueDirect', 'referralPath', 'adContent',
       'campaignCode', 'visits', 'hits', 'pageviews', 'bounces', 'newVisits',
       'transactionRevenue'],
      dtype='object')

- Criando uma lista com as colunas que tem apenas um único valor e excluindo as mesmas.

In [19]:
col_na=[]
for col in df.columns:
  if len(df[col].unique()) ==1:
    col_na.append(col)

In [20]:
df.drop(col_na, axis=1, inplace=True)

In [21]:
df.head()

  channelGrouping      date  ... newVisits transactionRevenue
0  Organic Search  20160902  ...         1                NaN
1  Organic Search  20160902  ...         1                NaN
2      Affiliates  20160902  ...         1                NaN
3  Organic Search  20160902  ...       NaN                NaN
4  Organic Search  20160902  ...         1                NaN

[5 rows x 31 columns]

# 3.0 Feature engineering

- Observando o tipo das variáveis.

In [22]:
df.dtypes

channelGrouping       object
date                  object
fullVisitorId         object
sessionId             object
visitId               object
visitNumber            int64
visitStartTime         int64
browser               object
operatingSystem       object
isMobile                bool
deviceCategory        object
continent             object
subContinent          object
country               object
region                object
metro                 object
city                  object
networkDomain         object
campaign              object
source                object
medium                object
keyword               object
isTrueDirect          object
referralPath          object
adContent             object
campaignCode          object
hits                  object
pageviews             object
bounces               object
newVisits             object
transactionRevenue    object
dtype: object

- Escolhendo as variáveis quantitativas.

   - newVisits: mostra se é a primeira visita ou não.

   - pageViews: mostra a quantidade de páginas que o usuário viu durante a sessão.

   - bounces: rejeição, uma visita que não gera nenhuma interação.

   - hits : volume de interação que o google recebeu do site.

   - transactionRevenue: valor gasto pelo usuário.

In [23]:
# convertendo as variáveis quantitativas para formato numérico.

quant =['hits','pageviews','bounces','newVisits','transactionRevenue']

for col in quant:
  df[col] = pd.to_numeric(df[col])

In [24]:
df.dtypes

channelGrouping        object
date                   object
fullVisitorId          object
sessionId              object
visitId                object
visitNumber             int64
visitStartTime          int64
browser                object
operatingSystem        object
isMobile                 bool
deviceCategory         object
continent              object
subContinent           object
country                object
region                 object
metro                  object
city                   object
networkDomain          object
campaign               object
source                 object
medium                 object
keyword                object
isTrueDirect           object
referralPath           object
adContent              object
campaignCode           object
hits                    int64
pageviews               int64
bounces               float64
newVisits             float64
transactionRevenue    float64
dtype: object

In [25]:
df.head()

  channelGrouping      date  ... newVisits transactionRevenue
0  Organic Search  20160902  ...       1.0                NaN
1  Organic Search  20160902  ...       1.0                NaN
2      Affiliates  20160902  ...       1.0                NaN
3  Organic Search  20160902  ...       NaN                NaN
4  Organic Search  20160902  ...       1.0                NaN

[5 rows x 31 columns]

- Tratando valores ausentes

In [26]:
df['transactionRevenue'].isnull().sum()

12119

In [27]:
df['transactionRevenue'].value_counts()

19190000.0     3
33590000.0     3
13590000.0     3
55990000.0     2
18990000.0     2
              ..
374850000.0    1
74850000.0     1
291070000.0    1
23960000.0     1
16780000.0     1
Name: transactionRevenue, Length: 146, dtype: int64

- Como pode ser observado, a maioria dos valores da coluna 'transactionRevenue' são nulos, podendo concluir que o usuário não gastou nada e será atribuído valor 0.

In [28]:
df['transactionRevenue'].fillna(0, inplace=True)

In [29]:
df['transactionRevenue'].value_counts()

0.0            12119
33590000.0         3
13590000.0         3
19190000.0         3
31490000.0         2
               ...
374850000.0        1
74850000.0         1
291070000.0        1
23960000.0         1
372650000.0        1
Name: transactionRevenue, Length: 147, dtype: int64

In [30]:
# convertendo os dados da coluna 'transactionRevenue' para valor real.

df['transactionRevenue'] = df['transactionRevenue']/1000000

In [31]:
df['transactionRevenue'].value_counts()

0.00      12119
19.19         3
13.59         3
33.59         3
27.19         2
          ...
253.77        1
239.88        1
88.05         1
112.05        1
26.49         1
Name: transactionRevenue, Length: 147, dtype: int64

# 4.0  Melhorando as features

- Criando o df ultima_visita.

In [32]:
ultima_visita = df.groupby('fullVisitorId',as_index=False)

In [33]:
ultima_visita = ultima_visita['visitNumber'].max()

In [34]:
ultima_visita.head()

         fullVisitorId  visitNumber
0  0002365800130207040            1
1  0010286039787739137            1
2  0011056874471185769            1
3  0014443856125569702            1
4  0017260116665815114            6

- Criando um dataframe com usuários e visitas únicas.

In [35]:
usuarios_visitas_unicas = df.drop_duplicates(subset=['fullVisitorId','visitNumber'])

In [36]:
usuarios_visitas_unicas.head()

  channelGrouping      date  ... newVisits transactionRevenue
0  Organic Search  20160902  ...       1.0                0.0
1  Organic Search  20160902  ...       1.0                0.0
2      Affiliates  20160902  ...       1.0                0.0
3  Organic Search  20160902  ...       NaN                0.0
4  Organic Search  20160902  ...       1.0                0.0

[5 rows x 31 columns]

- Criando o dataset visitas, unindo o dataframe "ultima_visita" com o dataframe "usuarios_visitas_unicas".

In [37]:
visitas = pd.merge(ultima_visita, usuarios_visitas_unicas, left_on=['fullVisitorId','visitNumber'],
                   right_on=['fullVisitorId','visitNumber'],how='left')

In [38]:
visitas.head()

         fullVisitorId  visitNumber  ... newVisits transactionRevenue
0  0002365800130207040            1  ...       1.0                0.0
1  0010286039787739137            1  ...       1.0                0.0
2  0011056874471185769            1  ...       1.0                0.0
3  0014443856125569702            1  ...       1.0                0.0
4  0017260116665815114            6  ...       NaN                0.0

[5 rows x 31 columns]

In [39]:
visitas.shape

(9997, 31)

- Criando o dataframe "primeira_visita" e unindo ao dataframe visitas.

In [40]:
primeira_visita = df.groupby('fullVisitorId',as_index=False)

In [41]:
primeira_visita = primeira_visita['visitNumber'].min()

In [42]:
primeira_visita.head()

         fullVisitorId  visitNumber
0  0002365800130207040            1
1  0010286039787739137            1
2  0011056874471185769            1
3  0014443856125569702            1
4  0017260116665815114            6

In [43]:
primeira_visita.set_index('fullVisitorId',inplace=True)

In [44]:
visitas = visitas.join(primeira_visita, how='left',on='fullVisitorId',rsuffix='_primeira')

In [45]:
visitas.head()

         fullVisitorId  visitNumber  ... transactionRevenue visitNumber_primeira
0  0002365800130207040            1  ...                0.0                    1
1  0010286039787739137            1  ...                0.0                    1
2  0011056874471185769            1  ...                0.0                    1
3  0014443856125569702            1  ...                0.0                    1
4  0017260116665815114            6  ...                0.0                    6

[5 rows x 32 columns]

- Criando um dataframe com usuários únicos e as informações da primeira e da última visita de cada um deles.

In [46]:
visitas = pd.merge(visitas, usuarios_visitas_unicas, left_on=['fullVisitorId','visitNumber_primeira'],
                   right_on=['fullVisitorId','visitNumber'],how='left', suffixes=['_ultima','_primeira'])

In [47]:
visitas.head()

         fullVisitorId  ...  transactionRevenue_primeira
0  0002365800130207040  ...                          0.0
1  0010286039787739137  ...                          0.0
2  0011056874471185769  ...                          0.0
3  0014443856125569702  ...                          0.0
4  0017260116665815114  ...                          0.0

[5 rows x 62 columns]

- Excluindo algumas colunas do dataset.

In [48]:
quant

['hits', 'pageviews', 'bounces', 'newVisits', 'transactionRevenue']

In [49]:
for col in quant:
  visitas.drop(col + '_primeira',axis=1,inplace=True)
  visitas.drop(col + '_ultima',axis=1,inplace=True)

In [50]:
ids=['sessionId_ultima','visitId_ultima','sessionId_primeira','visitId_primeira']

In [51]:
visitas.drop(ids,axis=1,inplace=True)

 - Selecionando apenas a última localização onde foi feito o acesso ao site.

In [52]:
visitas.columns

Index(['fullVisitorId', 'visitNumber_ultima', 'channelGrouping_ultima',
       'date_ultima', 'visitStartTime_ultima', 'browser_ultima',
       'operatingSystem_ultima', 'isMobile_ultima', 'deviceCategory_ultima',
       'continent_ultima', 'subContinent_ultima', 'country_ultima',
       'region_ultima', 'metro_ultima', 'city_ultima', 'networkDomain_ultima',
       'campaign_ultima', 'source_ultima', 'medium_ultima', 'keyword_ultima',
       'isTrueDirect_ultima', 'referralPath_ultima', 'adContent_ultima',
       'campaignCode_ultima', 'visitNumber_primeira',
       'channelGrouping_primeira', 'date_primeira', 'visitNumber_primeira',
       'visitStartTime_primeira', 'browser_primeira',
       'operatingSystem_primeira', 'isMobile_primeira',
       'deviceCategory_primeira', 'continent_primeira',
       'subContinent_primeira', 'country_primeira', 'region_primeira',
       'metro_primeira', 'city_primeira', 'networkDomain_primeira',
       'campaign_primeira', 'source_primeira', 'medium_primeira',
       'keyword_primeira', 'isTrueDirect_primeira', 'referralPath_primeira',
       'adContent_primeira', 'campaignCode_primeira'],
      dtype='object')

In [53]:
geo=['city_primeira','continent_primeira','country_primeira','region_primeira','metro_primeira',
    'subContinent_primeira', 'networkDomain_primeira']

In [54]:
visitas.drop(geo, axis=1, inplace = True)

- Criando e adicionando o "df_usuarios" ao dataframe visitas.

In [55]:
df_usuarios = df.groupby('fullVisitorId',as_index=False)[quant].sum()
df_usuarios.head()

         fullVisitorId  hits  pageviews  bounces  newVisits  transactionRevenue
0  0002365800130207040     1          1      1.0        1.0                 0.0
1  0010286039787739137     4          3      0.0        1.0                 0.0
2  0011056874471185769     2          2      0.0        1.0                 0.0
3  0014443856125569702     1          1      1.0        1.0                 0.0
4  0017260116665815114     2          2      0.0        0.0                 0.0

In [56]:
visitas = pd.merge(visitas, df_usuarios, left_on=['fullVisitorId'],
                   right_on=['fullVisitorId'],how='left')

In [57]:
visitas.head()

         fullVisitorId  visitNumber_ultima  ... newVisits transactionRevenue
0  0002365800130207040                   1  ...       1.0                0.0
1  0010286039787739137                   1  ...       1.0                0.0
2  0011056874471185769                   1  ...       1.0                0.0
3  0014443856125569702                   1  ...       1.0                0.0
4  0017260116665815114                   6  ...       0.0                0.0

[5 rows x 46 columns]

- Calculando quanto tempo o  usuário demorou entre o primeiro e último acesso.

In [60]:
visitas['tempo_dif'] = visitas.visitStartTime_ultima - visitas.visitStartTime_primeira

- Criando a coluna com a quantidade de acessos do usuário.

In [64]:
 visitas['total_visitas_usuario'] = df.groupby('fullVisitorId',as_index=False).count().visitNumber.values

- Extraindo informações da coluna "date_ultima".

In [67]:
visitas['ano_ultima'] = pd.to_numeric([data[0:4] for data in visitas.date_ultima])
visitas['mes_ultima'] = pd.to_numeric([data[4:6] for data in visitas.date_ultima])
visitas['dia_ultima'] = pd.to_numeric([data[6:8] for data in visitas.date_ultima])

In [71]:
visitas.dtypes

fullVisitorId                object
visitNumber_ultima            int64
channelGrouping_ultima       object
date_ultima                  object
visitStartTime_ultima         int64
browser_ultima               object
operatingSystem_ultima       object
isMobile_ultima                bool
deviceCategory_ultima        object
continent_ultima             object
subContinent_ultima          object
country_ultima               object
region_ultima                object
metro_ultima                 object
city_ultima                  object
networkDomain_ultima         object
campaign_ultima              object
source_ultima                object
medium_ultima                object
keyword_ultima               object
isTrueDirect_ultima          object
referralPath_ultima          object
adContent_ultima             object
campaignCode_ultima          object
visitNumber_primeira          int64
channelGrouping_primeira     object
date_primeira                object
visitNumber_primeira          int64
visitStartTime_primeira       int64
browser_primeira             object
operatingSystem_primeira     object
isMobile_primeira              bool
deviceCategory_primeira      object
campaign_primeira            object
source_primeira              object
medium_primeira              object
keyword_primeira             object
isTrueDirect_primeira        object
referralPath_primeira        object
adContent_primeira           object
campaignCode_primeira        object
hits                          int64
pageviews                     int64
bounces                     float64
newVisits                   float64
transactionRevenue          float64
tempo_dif                     int64
total_visitas_usuario         int64
ano_ultima                    int64
mes_ultima                    int64
dia_ultima                    int64
dtype: object

In [68]:
visitas.head()

         fullVisitorId  visitNumber_ultima  ... mes_ultima dia_ultima
0  0002365800130207040                   1  ...          9          4
1  0010286039787739137                   1  ...          9         28
2  0011056874471185769                   1  ...         12          5
3  0014443856125569702                   1  ...         10          2
4  0017260116665815114                   6  ...          4         20

[5 rows x 51 columns]

- Salvando o arquivo dataset em um arquivo csv

In [72]:
visitas.to_csv('dados_pre_processados.csv',index=False)